.contact-section {
    padding: 80px 0;
    background-color: #f9fbff;
}

.contact-container {
    width: 85%;
    margin: 0 auto;
}

.contact-wrapper {
    display: flex;

    gap: 50px;
    align-items: flex-start;
}

.contact-info-box {
    flex: 1;
}

.sub-title {
    color: #00bcd4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.contact-info-box h2 {
    font-size: 36px;
    color: #1a2a40;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.info-icon {
    width: 50px;
    height: 50px;
    background-color: #e0f7f9;
    color: #00bcd4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.contact-form {
    flex: 1;
    background: #8f8d8d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(22, 18, 18, 0.05);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #8d7d7d;
    border-radius: 5px;
    outline: none;
}
.contact-form input,
.contact-form textarea,::placeholder{
    font-weight:700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.input-group {
    display: flex;
    gap: 20px;
}

.submit-btn {
    background-color: #46595c;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.submit-btn:hover {
    background-color: #008ba3;
}

@media (max-width: 992px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .input-group {
        flex-direction: column;
    }
}